# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.*
token.txt
qr.txt
qr_base64.txt

# Database
*.db
*.db-*

# Backups
*.backup*
*.tar.gz
backup_*
*_ATUAL_*
server/whatsapp-sender-pro-*.tar.gz

# Chrome
google-chrome-stable_*.deb

# PM2
ecosystem.config.js

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
